
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln


# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
Thumbs.db
.DS_Store
bin/
logs/
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*


dist/


